.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    height: 6rem;
    background-color: black;
    color: #daa520;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -20rem;
}

.button {
    background-color: #daa520;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: -17rem;
}