.container {
  display: flex;
  flex-direction: column;
  background-color: gold;
  border-bottom: 1px solid ;
}

.div0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: gold; 
  background-size: 100% 8px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.div1 {
  display: flex;
  align-items: center;
  padding: 10px;
}

.img {
  width: 20%;
  height: 20%;
  margin-right: 10px;
}

.div2 {
  background-color: gold; 
  padding: 10px;
  border-radius: 5px;
}

.div2  {
  margin: 0;
}
