.container {
  display: flex;
  flex-direction: column;
  background-image: url('https://img.freepik.com/fotos-premium/placa-de-aco-de-metal-preto-e-textura-metalica-em-fundo-escuro-com-superficie-de-material-inoxidavel-de-padrao-brilhante-renderizacao-3d_79161-1694.jpg');
  background-size: cover; 
  border-bottom: 1px solid ;
}

.div0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-image: url('https://img.freepik.com/vetores-premium/fundo-de-textura-dourada-com-cor-de-malha-de-textura-brilhante-e-suave-para-elemento-de-design-grafico-metalico_120819-2031.jpg');
  background-size: 100% 8px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.div1 {
  display: flex;
  align-items: center;
  padding: 10px;
}

.img {
  width: 20%;
  height: 20%;
  margin-right: 10px;
}

.div2 {
  background-image: url('https://img.freepik.com/vetores-premium/fundo-de-textura-dourada-com-cor-de-malha-de-textura-brilhante-e-suave-para-elemento-de-design-grafico-metalico_120819-2031.jpg');
  padding: 10px;
  border-radius: 5px;
}

.div2 h1 {
  margin: 0;
}
