.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    width: 50rem;
    text-align: center;
    color: #FFD700;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close_button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.close_button:hover {
    background-color: #d32f2f;
}

.modal_body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.modal_body h2 {
    margin: 10px;
}

.modal_body p {
    margin: 5px 0;
}