/* Estilos para as ações */
.actions {
    margin-top: 5rem;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* Estilos para o botão */
    .button {
      padding: 10px 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      justify-content: center;
      align-items: center;
    }
    
    /* Estilos para o botão primário */
    .primaryButton {
      background-color: #daa520;
      color: black;
    }
    
    /* Estilos para o botão de submissão */
    .submitButton {
      background-color: #2ecc71;
      color: #fff;
      margin-left: 25rem;
    }
    
    /* Estilos para o botão quando o mouse está sobre ele */
    .button:hover {
      filter: brightness(90%);
    }
  
    /* Estilos para o container */
    .container{
      background-image: url(/fundo2.jpg);
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
    }
    
    Estilos para o container de cadastro
    .cadastroContainer{
      margin-top: 20px;
      max-width: 70%;
      border-radius: 10px;
      margin: auto;
      background-color: rgb(68, 65, 65)
    }
    
    /* Estilos para o texto principal */
    .mainText {
      color: #daa520;
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center;
      justify-content: center;
    }
    
    /* Estilos para o formulário */
    .formGroup {
      margin-bottom: 1rem;
    }
    
    /* Estilos para o rótulo */
    .label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #daa520;
      margin-left: 9rem;
    }
    
    /* Estilos para a entrada */
    .input {
      width: 70%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-sizing: border-box;
      margin-left: 9rem;
    }
  
    /* Ajustando os estilos para telas menores */
    @media (max-width: 768px) {
  
      .cadastroContainer {
        max-width: 90%;
      }
    
      .submitButton {
        margin-left: 9rem;
        margin-top: 1rem;
      }
    
      .label,
      .input {
        margin-left: 4rem;
      }
    }