/*definir estilos para a classe pageBody */
.pageBody {
  background: url('https://assets-prd.ignimgs.com/2023/11/17/hungergames-blogroll-1700179653585.jpg') center center fixed;
  background-size: cover;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*definir estilos para a classe inputContainer */
.inputContainer {
  margin-bottom: 10px;
  text-align: center;
}
/*definir estilos para input */
.input {
  font-family: 'Times New Roman', Times, serif;
  background-color: #000;
  color: gold;
  border: 2px solid gold;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  width: 300px;
  box-sizing: border-box;
}
/*definir estilos para input email */
.input[type="email"] {
  color: gold;
  font-family: 'Times New Roman', Times, serif;
}
/*definir estilos para a classe botao */
.buttonContainer {
  display: flex;
  gap: 10px;
  font-family: 'Times New Roman', Times, serif;
}
/*definir estilos para a classe remove, edit, add */
.remove,
.edit,
.add {
  font-family: 'Times New Roman', Times, serif;
  background-color: #000;
  color: gold;
  border: 2px solid gold;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
/*definir estilos hover para classe remove, edit, add */
.remove:hover,
.edit:hover,
.add:hover {
  background-color: gold;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}