/* Importando a fonte Montserrat do Google Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

 /*  Estilos para o corpo da página */
 .body {
   background-image: url(/fundo2.jpg);
   height: 100%;
   background-attachment: fixed;
 }

 /* Estilos para o pseudo-elemento ::after do corpo da página */
 .body::after {
   content: '';
   position: absolute;
   transform: translateZ(-1px) scale(1.5);
   background-size: 100%;
   z-index: -1;
 }

 /* Estilos para o título */
 .titulo {
   align-items: center;
   justify-content: center;
   align-items: center;
   display: flex;
 }

 /* Estilos para a lista */
 .lista {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   text-align: center;
   justify-content: center;
 }

 /* Estilos para o card */
 .card {
   background-color: rgb(68, 65, 65);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
   border-radius: 0.7rem;
   max-width: 20rem;
   min-width: 20rem;
   box-shadow: #daa520;
 }

 /* Estilos para o card quando o mouse está sobre ele */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }

 /* Estilos para o contêiner */
 .container {
   padding: 2px 16px;
 }

 /* Estilos para o texto */
 .texto {
   line-height: 3rem;
   color: white;
 }

 /* Estilos para a imagem */
 .img {
   padding-top: 5%;
   border-radius: 0.7rem;
   border-top-left-radius: 0.7rem;
   border-top-right-radius: 0.7rem;
 }

 /* Estilos para o título */
 .title {
   min-height: 50px;
 }

 /* Estilos para o nome */
 .Nome {
   color: #daa520;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   padding-top: 0.3rem;
   font-size: 1.5rem;
 }

 /* Estilos para o modal (plano de fundo) */
 .modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
 }

 /* Estilos para o conteúdo do modal */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
 }

 /* Estilos para o botão de fechar */
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }

 /* Estilos para o botão de fechar quando o mouse está sobre ele ou quando ele está em foco */
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 /* Estilos para o botão */
 .button {
   background-color: #daa520;
   border: none;
   color: white;
   padding: 10px 20px;
   text-align: center;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   font-size: 16px;
   border-radius: 0.7rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 1rem;
   margin-right: 1rem;
   cursor: pointer;
 }

 /* Estilos para o campo de pesquisa */
 .pesquisa{
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
 }

 /* Estilos para os inputs */
.inputs{
  text-align: center;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;
}

/* Estilos para as ações */
 .actions {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para o botão de excluir quando o mouse está sobre ele */
 .deleteButton:hover {
   background-color: #f44336;
 }

 /* Estilos para o botão de editar quando o mouse está sobre ele */
 .editButton:hover {
   background-color: #008CBA;
 }

 /* Estilos para o botão de visualizar quando o mouse está sobre ele */
 .viewButton:hover {
   background-color: #008000;
 }