/*definir estilos para mainDiv */
.mainDiv{
    background-image: url("/fundo2.jpg"); /*definindo a imagem de fundo */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100%;
   background-attachment: fixed;
}
/*definindo estilos para ::after da classe mainDiv */
.mainDiv::after {
    content: '';
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }

/*estilizando imagem*/
.imagem{
    width: 256px; /* largura da imagem*/
    height: 128px; /*altura da imagem */
    border-radius: 40px;
}

/*definir estilos para a classe herois */
.herois{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(180, 180, 180);
    padding: 20px; /*definir o preenchimento */
    margin: 10px; /* definir a margem */
    border-radius: 20px;
    color : rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75); /*definir sobra da div */

}

/*definir estilos para classe heroisSelecionados */
.heroisSelecionados{
    background-color: #FFD700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; /*definir a distância entre os itens */
    margin-top: 100px;
}

/*Definir estilos para classe deckPlayers */
.deckPlayers{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    max-width: 650px;/* largura maxima da imagem*/
    min-width: 650px; /* largura minima da imagem*/
    min-height: 950px; /* altura minima da imagem*/
    max-height: 950px; /* altura maxima da imagem*/
    border-radius: 5px;
}
/*definir estilos para a classe pontos */
.pontos{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #FFA500;
}
/*definir estilos para a classe subDiv */
.subDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/*definir estilos para a classe botao*/
.botao button{
    background-color: #FFD700;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}
/*definir estilos :hover para a classe botao*/
.botao button:hover {
    background-color: #FFA500;
    transition: background-color 0.3s ease;
 }

 /*responsividade*/
 @media screen and (max-width: 600px) {
    
    .mainDiv{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .deckPlayers{
        min-width: 300px;
        max-width: 300px;
        min-height: 600px;
        max-height: 600px;
    }
    .heroisSelecionados{
        flex-direction: column;
        }
    }