/* Define o estilo para o contêiner */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: gold;
    background-image: url("/fundo2.jpg");
}

/* Define o estilo para o bloco do título */
.titleBlock{
  width: 40rem;
  background-color: black;
  font-size: 1.5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid gold;
}

/* Define o estilo para o bloco do nome */
.nameBlock{
  font-size: 1rem;
  margin-top: 1rem;
}

/* Define o estilo para o nome */
.name{
  background-color: rgb(224, 206, 206);
  border-radius: 0.5rem;
}

/* Define o estilo para o bloco do email */
.emailBlock{
  font-size: 1rem;
  margin-top: 1rem;
}

/* Define o estilo para o email */
.email{
  background-color: rgb(224, 206, 206);
  border-radius: 0.5rem;
}

/* Define o estilo para o bloco do telefone */
.phoneBlock{
  font-size: 1rem;
  margin-top: 1rem;
}

/* Define o estilo para o telefone */
.phone{
  background-color: rgb(224, 206, 206);
  border-radius: 0.5rem;
}

/* Define o estilo para o bloco da mensagem */
.messageBlock{
  font-size: 1rem;
  margin-top: 1rem;
}

/* Define o estilo para a mensagem */
.message{
  background-color: rgb(224, 206, 206);
  border-radius: 0.5rem;
}

/* Define o estilo para o bloco do botão */
.buttonBlock{
  margin-top: 2rem;  

}

/* Define o estilo para o botão */
.button{
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1rem ;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
 
/* Define o estilo para o estado de hover do botão */
.button:hover{
  background-color: gold;
  color: black;
  font-size: 1rem ;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
} 

/* Define o estilo para o contêiner em telas menores que 600px */
@media only screen and (max-width: 600px) {
  .titleBlock {
      width: 80%;
  }
}

.nameBlock,
.emailBlock,
.phoneBlock,
.messageBlock {
  font-size: 1rem;
  margin-top: 1rem;
}

.name,
.email,
.phone,
.message {
  background-color: rgb(224, 206, 206);
  border-radius: 0.5rem;
}

.buttonBlock {
  margin-top: 2rem;
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: gold;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}